body {
    background-color: #0d4a31;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-shadow: none;

}

.menu,
nav,
ul {
    display: flex;
    flex-direction: row;
}

.menu{
    justify-content: space-between;
    padding: 20px 100px;
}

nav, ul {
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    right: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    text-transform: uppercase;

}

.sign-in {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 21px;
    background-color: #f7c85a;
    color: #000;
}

.logo {
    color: #fff;
    text-transform: uppercase;
}


.content {
    flex: auto;
    position: relative;
}

.welcome {
    font-family: "playfair display";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 45px;
    color: #fff;
    position: absolute;
    left: 80px;
}

p{
   font-family: "roboto";
   color: #fff;
   position: absolute;
   top: 170px;
   left: 80px;

}

.button {
    position: absolute;
    left: 80px;
    top: 300px;
}

.get-started {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 21px;
    background-color: #f7c85a;
    color: #000;
    font-size: 12px;
    font-family: "roboto";
    text-transform: uppercase;
    

}

.watch-video {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 21px;
    background-color: #0d4a31;
    color: #fff;
    font-size: 12px;
    font-family: "roboto";
    text-transform: uppercase;
    
}

.jasindo {
    position: absolute;
    left: 80px;
    top: 600px;
}

.image {
    position: absolute;
    right: 250px;
}

.logo-container {
    position: relative;
}

.qualified {
    position: absolute;
    right: 690px;
    bottom: -550px;
}

.after {
    position: absolute;
    right: 100px;
    bottom: -680px;
}

.lock {
    position: absolute;
    left: 650px;
    bottom: -200px;
}

.web {
    position: absolute;
    right: 450px;
}

.star {
    position: absolute;
    right: 170px;
    top: 230px;
}