body {
    background-color: #0D4A31;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    box-shadow: none;

}
.menu,
nav,
ul{  
    display: flex;
    flex-direction: row;

}
.menu{
    justify-content: space-between;
    padding: 20px 100px;
}

nav, ul{
    justify-content: center;
    align-items: center;
    gap: 40px;

}
a{
    text-decoration: none;
    color: #ffff;

}

li{
    list-style: none;
}

.signin-btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 21px;
    background-color:#F7C85A;
    color: black;
}

.logo{
    color: #fff;
    text-transform: uppercase;
}

.image{
    position: absolute;
    right: 150px;
}
.images{
    position: relative;
    width: 500.06px;
    height: 50.7px;
    top: 350px;
    left: 100px;
    
}
.button{
    position: relative;
    left: 100px;
    width: 500px;
}
.button1{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5%;
    padding: 12px 21px;
    background-color:#F7C85A;
    color: #000; 
    font-size: 12px; 
    width: 150px;
    font-family: roboto;
    height: 50px;
}
.button2{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5%;
    padding: 12px 21px;
    background-color: #0D4A31;
    color: #fff; 
    font-size: 12px; 
    width: 150px;
    font-family: roboto;
    height: 50px;
} 
.Welcome{
    font-family: fairplay display;
    color: #fff;
    font-size: 50px;
    position: relative;
    width: 601px;
    height: 240.06px;
    top: 192.px;
    left: 100px;
} 
.class{
    font-family: roboto;
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 744.54px;
    color: #fff;
}
.image323{
    position: absolute;
    right: 100px;
    bottom: 0.3px;
    
}
.image326{
    position: absolute;
    bottom: 5px;
    left: 650px;
    width: 200px;  
}
.image324{
    position: absolute;
    bottom: 200px;
    left: 700px;
    /* width: 200px; */ 
}
.image327{
    position: absolute;
    right: 150px;
    bottom: 350px; 
}
.image328{
    position: relative;
    width: 500.06px;
    /* height: 50.7px;
    top: 350px;
    left: 100px; */
}



